body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    text-align: center;
    max-width: 300px;
    width: 90%;
    box-sizing: border-box;
}

.profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    color: #777;
    font-size: 18px;
    margin: 10px 0 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    color: white;
    background-color: #1a73e8;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    text-align: left;
}

.button img {
    margin-right: 10px;
    width: 24px; /* Fixed width */
    height: 24px; /* Fixed height */
}

.button:hover {
    background-color: #0056b3;
}
